<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%forEach(elevator) { %>

  <% }%>   
    <form>
      <button>Up</button>
      <button>Down</button>
    </form>
  </body>
</html>
